site_name: RingCentral Engage Voice Developer Guide
site_url: https://engage-voice-api-docs.rtfd.org
site_favicon: favicon.ico
repo_url: https://github.com/ringcentral/engage-voice-api-docs
docs_dir: docs
theme:
  name: ringcentral
  product_section: engage
  fluid_layout: True
  suppress_nextprev: true
  shortcuts:
    - foo

plugins:
  - git-committers:
      repository: ringcentral/engage-voice-api-docs
      branch: master
  - bootstrap-tables

markdown_extensions:
  - markdown.extensions.admonition
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.highlight:
      linenums_style: pymdownx-inline
  - pymdownx.superfences
  - mdx_include

extra_css: [extra.css]

nav:
- 'Primary':
  - 'Analytics':
    - 'Overview': analytics/index.md
    - 'Cloud Reports':
      - 'Call Detail': analytics/reports/call-detail-report.md
    - 'Realtime Reports':
      - 'Agent Segment Metadata': analytics/reports/agent-segment-metadata-report.md
      - 'Agent Session': analytics/reports/agent-session-report.md
      - 'Call Details and Recordings': analytics/reports/global-call-type-detail-report.md
      - 'Dialer Result Download': analytics/reports/dialer-result-download-report.md
  - 'Routing':
    - 'Overview': routing/index.md
    - 'Getting Started': routing/quick-start.md
    - 'Queues':
      - 'Queues': routing/queues/queues.md
      - 'Queue Events': routing/queues/queue-events.md
      - 'Queue Groups': routing/queues/queue-groups.md
      - 'Group Skills': routing/queues/group-skills.md
    - 'IVR':
      - 'Overview': routing/ivr/index.md
      - 'WWW Node': routing/ivr/www-node.md
      - 'Scripting Node': routing/ivr/scripting-node.md
    - 'Tutorials':
      - 'IVR DNC List': https://ringcentral-tutorials.github.io/dnc-via-ivr-rest-demo
  - 'Dialing':
    - 'Overview': dialing/index.md
    - 'Getting Started': dialing/quick-start.md
    - 'Campaigns':
      - 'Dial Groups': dialing/campaigns/dial-groups.md
      - 'Campaigns': dialing/campaigns/campaigns.md
      - 'DNC': dialing/dnc/dnc-list.md
    - 'Leads':
      - 'Bulk Import Leads': dialing/leads/bulk-import.md
      - 'Searching Leads': dialing/leads/search.md
      - 'Lead Actions': dialing/leads/actions.md
      - 'Web2Campaign': dialing/leads/web2campaign.md
    - 'Active Calls':
      - 'Active Calls': dialing/active-calls/index.md
      - 'Getting Started': dialing/active-calls/quick-start.md
  - 'Users':
    - 'Overview': users/agents/index.md
    - 'Agents':
      - 'Agents': users/agents/agents.md
      - 'Agent Groups': users/agents/agent-groups.md
      - 'Skill Profiles': users/agents/skill-profile.md
      - 'Agent Scripting': users/agents/agent-script.md
  - 'Workforce':
    - 'Overview': workforce/index.md
    - 'Workforce Management':
      - 'Creating an Event': notifications/wfm/configure-wfm.md
      - 'Event Payload': notifications/wfm/payload-wfm.md
    - 'Call Streaming': 
      - 'Getting Started': workforce/call-streaming/getting-started.md
      - 'Live Transcribe': workforce/call-streaming/live-transcribe.md
      - 'Save To Files': workforce/call-streaming/save-to-files.md
    - 'Quality Management': workforce/qm/index.md
    - 'Call Recordings': workforce/call-recording/index.md
    - 'Integration APIs': workforce/integration-api.md
- 'Secondary':
  - 'Using the API':
    - 'Fundamentals':
      - 'Methods, endpoints and parameters': 'basics/uris.md'
      #- 'App permissions': 'basics/permissions.md'
      #- 'Rate limits': 'basics/rate-limits.md'
    #- 'Obtaining a Token': basics/auth-ringcentral.md
    #- 'Legacy Tokens': basics/auth-legacy.md
  - 'Authentication':
    - 'Overview': authentication/index.md
    - 'Engage with RingCentral Token': authentication/auth-ringcentral.md
    - 'Engage Access Token': authentication/auth-engage.md
    - 'Legacy': authentication/auth-legacy.md
  - 'Events and Notifications':
    - 'Overview': notifications/index.md
    - 'Workforce Management':
      - 'Creating an Event': notifications/wfm/configure-wfm.md
      - 'Event Payload': notifications/wfm/payload-wfm.md
    - 'Web Services': notifications/web-service/index.md
  - 'SDKs': sdks/index.md
  - 'Embeddable': embeddable/get-started.md
  - 'Postman': postman.md
  - 'Database Access': redshift-db.md
